@font-face {
  font-family: "Varela-Round";
  src: url("../Varela_Round/VarelaRound-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka-Regular";
  src: url("../Fredoka/static/Fredoka-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka-Medium";
  src: url("../Fredoka/static/Fredoka-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka-SemiBold";
  src: url("../Fredoka/static/Fredoka-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka-Bold";
  src: url("../Fredoka/static/Fredoka-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-size-base: 1rem;
  --font-size-base-2: 1.125rem;
  --primary-color: #e6e7fb;
  --secondary-color: #1c1e5a;
  --tertiary-color: #1283fe;
  --tertiary-color-two: #ea635e;
  --color-one: #000;
  --color-two: #ffffff;
  --color-three: #001a72;
  --color-four: #7fffd4;
  --color-five: #3c41e1;
  --color-six: #bbbdfb;
  --color-seven: #a1cbff;
  --color-eight: #fa0303;
  --view-width: 100vw;
  --primary-font: "Varela-Round";
  --secondary-font-one: "Fredoka-Regular";
  --secondary-font-two: "Fredoka-Medium";
  --secondary-font-three: "Fredoka-SemiBold";
  --secondary-font-four: "Fredoka-Bold";
  /* ----------Team Marquee -------------- */
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  position: relative;
}
.page-title {
  font-family: var(--secondary-font-three);
  color: var(--secondary-color);
  font-size: 2.25rem;
  padding: 0.625rem;
  position: relative;
  z-index: 3;
}
.page-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../resources/imgs/header-back.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.subTitles {
  font-family: var(--secondary-font-two);
  color: var(--secondary-color);
  font-size: 2rem;
}
.subHead {
  font-size: 1.25rem;
}
.formSub {
  font-size: 1.125rem;
}
.formSub span {
  color: #fa0303;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* width: min(80%, 75rem); */
  /* margin-inline: auto; */
}
/* .in-out-icon {
  background-color: #7fffd4;
} */
/* -----------Radio button styling ------------- */
.radio {
  /* background-color: antiquewhite; */
  gap: 1rem;
}

.radio-input {
  background-color: #c5c1c1;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.3125rem var(--color-two) solid;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.radio-input:hover,
.radio-input:focus {
  border-color: var(--color-seven);
  /* border-color: var(--tertiary-color); */
  /* border-color: #686767; */
  /* opacity: 0.5; */
}

.radio P {
  color: var(--color-five);
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
}
/* -----------END Radio button styling ------------- */
.navigationBar {
  position: fixed;
  top: 0;
  /* right: 0;
  left: 0; */
  width: 100%;
  z-index: 999;
}
.topNav {
  padding: 0.75rem;
  background-color: #1c1e5a;
}
.welcome {
  color: var(--color-two);
  /* font-size: 1.125rem; */
  letter-spacing: 0.125rem;
}
.welcome span {
  color: var(--tertiary-color-two);
}
.admin {
  letter-spacing: 0.125rem;
  text-decoration: none;
  background-color: var(--color-two);
  color: var(--secondary-color);
  padding: 0.125rem 1rem;
  border-radius: 0.125rem;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.3s;
}
.admin:focus,
.admin:hover {
  background-color: var(--primary-color);
  /* color: var(--color-four); */
}
.deliveryLog {
  width: 80%;
  gap: 3rem;
}
.deliveryNum {
  color: var(--color-two);
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
}
.logInOut {
  height: 1.25rem;
  width: 1.25rem;
}
.navRings {
  top: 0;
  right: 2rem;
  height: 2.8rem;
}
.navbar {
  /* padding: 0.5rem 0; */
  /* height: 1rem; */
  background-color: #ffffff;
}
.navContainer {
  padding: 0.625rem 0;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 4.3rem;
}
.navlink {
  font-size: var(--font-size-base-2);
  color: var(--secondary-color);
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.navlink:hover {
  color: var(--tertiary-color);
}

/* .navlink:active {
  color: var(--tertiary-color);
} */
/* .active {
  color: var(--tertiary-color);
} */

.navlinksAndCart {
  width: 60%;
  justify-content: space-between;
}
.cartContainer {
  font-size: 0.875rem;
  color: var(--color-eight);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.cartContainer:hover {
  transform: scaleX(1.07);
  color: var(--tertiary-color);
}
.cart {
  height: 1.8rem;
  /* width: 25.8px; */
}

.cartCount {
  top: 58%;
  left: 50%;
  transform: translate(-53%, -58%);
}
.jediBtn {
  background-color: var(--tertiary-color);
  color: var(--color-two);
  padding: 1rem 2rem;
  text-decoration: none;
  width: fit-content;
  border-radius: 0.625rem;
  gap: 0.625rem;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.3s;
}
.jediBtn:hover {
  opacity: 0.83;
  transform: scaleX(1.01);
}

.rightArrow {
  width: 1.7rem;
}

.primary-navigation {
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-centre-xy {
  justify-content: center;
  align-items: center;
}
.flex-centre-x {
  justify-content: center;
}
.flex-centre-y {
  align-items: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.display-none {
  display: none;
}
.img-settings {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.log-in-out {
  cursor: pointer;
}
.pop-up-none {
  display: none;
}

.pop-up {
  padding: 3rem 2rem;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 31.25rem;
  align-items: flex-end;
  gap: 0.3125rem;
  border-radius: 0.625rem;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  z-index: 100;
  /* transition: ease-in-out 0.3s; */
}

.pop-div {
  width: 100%;
  gap: 0.5rem;
  color: var(--secondary-color);
  font-size: 1.125rem;
}
/* ------------------------- Footer Styling ----------------------------- */
#footerSection {
  background-color: var(--color-two);
}
.footerContainer {
  padding: 3rem 0 0 0;
  color: var(--secondary-color);
  gap: 1.5rem;
}
.subscribeContainer {
  width: 100%;
  padding: 1rem;
  border: 0.1875rem var(--color-five) solid;
  border-radius: 1rem;
  gap: 0.3125rem;
}
.subscribeHeader {
  font-size: 1.5rem;
  font-weight: 800;
}
.form {
  gap: 0.3rem;
  margin: 0.625rem 0;
}
.input {
  font-size: 1rem;
  padding: 0.875rem;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.subscribeInput {
  border: 0.125rem var(--color-five) solid;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}
.subscribeBtn {
  background-color: var(--color-five);
  color: var(--color-two);
  border: none;
  font-size: 1.25rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.subscribeBtn:hover {
  opacity: 0.9;
}
.footerLinks {
  justify-content: space-between;
}
.footerDivs {
  gap: 0.625rem;
}
.footerlinkContent {
  gap: 0.3125rem;
}
.companyContent a {
  text-decoration: none;
  color: var(--color-five);
  transition: ease-in-out 0.3s;
}
.companyContent a:hover,
.companyContent a:focus {
  color: var(--tertiary-color);
}

.footerlinkTitle {
  color: var(--secondary-color);
}
.happykitty {
  height: 15.625rem;
  margin-top: -3.125rem;
  margin-right: -2.5rem;
}

.address {
  max-width: 19.5rem;
}
.address ul,
.company ul {
  list-style: none;
}
.footer {
  background-color: var(--color-six);
  width: 100%;
  padding: 1rem;
  color: var(--secondary-color);
  font-size: 0.875rem;
}
/* ------------------------- End Footer Styling ----------------------------- */
