@font-face {
  font-family: "Varela-Round";
  src: url("../Varela_Round/VarelaRound-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-size-base: 1rem;
  --font-size-base-2: 1.125rem;
  --primary-color: #e6e7fb;
  --secondary-color: #1c1e5a;
  --tertiary-color: #1283fe;
  --color-one: #000;
  --color-two: #ffffff;
  --view-width: 100vw;
  --primary-font: "Varela-Round";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1c1e5a;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* .navigationBar {
  width: 100%;
} */
.topNav {
  height: 2rem;
  background-color: #1c1e5a;
  /* background-color: #e6e7fb; */
}
.navbar {
  /* padding: 0.5rem 0; */
  /* height: 1rem; */
  background-color: #ffffff;
}
.navContainer {
  padding: 0.75rem 0;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
#logo {
  height: 74px;
  width: 223px;
  background-image: url(../resources/imgs/logo.svg);
}
.navlink {
  font-family: var(--primary-font);
  font-size: var(--font-size-base-2);
  color: var(--secondary-color);
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.navlink:hover {
  color: var(--tertiary-color);
}

.navlinksAndCart {
  width: 60%;
  justify-content: space-between;
}

.cart {
  height: 28px;
  width: 25.8px;
  background-image: url(../resources/imgs/carttimg.svg);
  font-size: 0.875rem;
  font-family: var(--primary-font);
  position: relative;
  color: #fa0303;
}
.cartCount {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-navigation {
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.img-settings {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
