<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jedi Pet Foods</title>
    <link rel="stylesheet" href="../navbarFooter/navbarFooter.css">
    <link rel="stylesheet" href="../product/product.css">
    <link rel="stylesheet" href="../home/products-section.css">

    <script type="module" src="/product/product.js" defer></script>
</head>
<body>
    <script src="/navbarFooter/navbarFooter.js"></script>
    <script src="../home/products-section.js" ></script>
    <script src="../navbarFooter/cartPopUp.js"></script>
</body>
</html>