#contact-section {
  background-color: var(--primary-color);
}

.contact-container {
  padding: 11rem 0 2rem 0;
  z-index: -1;
  gap: 0.625rem;
  color: var(--secondary-color);
}

.contact-header {
  font-family: var(--secondary-font-three);
  color: var(--secondary-color);
  font-size: 2.25rem;
  padding: 0.625rem;
  position: relative;
  z-index: 3;
}
.contact-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../resources/imgs/header-back.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.contact-sub {
  font-size: 1.125rem;
  max-width: 900px;
  text-align: center;
}
.contact-sub span {
  color: var(--tertiary-color);
  font-size: 1.25rem;
}

.form-container {
  width: 100%;
  gap: 0.625rem;
  margin-top: 2rem;
}
.form-header {
  color: var(--color-five);
  font-size: 1.5rem;
}
/* .formSub {
  font-size: 1.125rem;
}
.formSub span {
  color: #fa0303;
} */

.contact-form {
  border-radius: 1rem;
  border: 0.1875rem var(--color-five) solid;
  padding: 3rem;
  width: 80%;
  max-width: 900px;
  gap: 1.5rem;
  margin-top: 1rem;
}

.form-row {
  width: 100%;
  gap: 1rem;
}

/* repeated in at least 3 pages make a point to consolidate and
avoid repetition */
.label-input {
  width: 50%;
  color: var(--color-five);
}
.label-input label {
  font-weight: 600;
}

.label-input input {
  font-size: 1rem;
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  border-bottom: 0.125rem var(--color-five) solid;
  padding: 0.5rem 0;
  transition: ease-in-out 0.3s;
}

.label-input input:focus,
.label-input input:hover {
  outline: none;
  border-bottom-color: var(--tertiary-color);
}

.for-compulsory::after {
  content: "*";
  margin-left: 0.1875rem;
  color: var(--color-eight);
}

.message-row {
  width: 100%;
}
.label-textarea {
  width: 100%;
  color: var(--color-five);
}
.label-textarea label {
  font-weight: 600;
}
.label-textarea textarea:focus,
.label-textarea textarea:hover {
  outline: none;
  border-color: var(--tertiary-color);
}
.label-textarea textarea {
  width: 100%;
  border: 0.125rem var(--color-five) solid;
  border-radius: 0.875rem;
  padding: 0.875rem 0.125rem;
  margin-top: 0.5rem;
  color: var(--secondary-color);
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}
/* .form-btn {
  width: 300px;
} */
.form-btn img {
  width: 1.3125rem;
}
.express {
  margin-top: 2rem;
  color: var(--color-five);
  font-size: 1.5rem;
}
.express-sub {
  color: var(--secondary-color);
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.contact-mail-location {
  width: 80%;
  padding: 1.5rem 2rem;
  background: linear-gradient(90deg, #001a72 0%, #1c1e5a 100%);
  justify-content: space-between;
  color: var(--color-two);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

  /* margin-top: 1.5rem; */
}
.content-div {
  gap: 0.635rem;
  align-items: center;
}
.loco {
  gap: 0.3125rem;
  flex: 1;
  justify-content: center;
}

.mail-content {
  gap: 0.3125rem;
}

.mail-content-div {
  border-left: 0.1875rem var(--tertiary-color) solid;
  border-right: 0.1875rem var(--tertiary-color) solid;
  padding: 1rem;
}

.mail-content li {
  font-size: 1rem;
}
.getintouch-icon {
  width: 1.5rem;
}
.getintouch-content {
  list-style: none;
  font-size: 1rem;
  /* background-color: antiquewhite; */
}

.location-icon {
  width: 0.875rem;
}
