#homeHeroSection {
  /* background-color: red; */
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
}
/* .heroSection {
  height: 300px;
  width: 70%;
  background-color: red;
} */
/* .heroTitle {
  width: 400px;
} */
.heroTitle span {
  color: var(--tertiary-color);
}
.heroNextBtn {
  border-radius: 50%;
  border: 0.1875rem var(--secondary-color) solid;
  padding: 1rem;
  width: 100px;
  height: 100px;
}
