#homeHeroSection {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
}
.heroSection {
  /* height: 300px; */
  /* background-color: burlywood; */
  margin: 4rem 0 0.625rem 0;
}
.heroCopy {
  flex: 1.5;
  letter-spacing: 0.125rem;
  gap: 2rem;
  color: var(--secondary-color);
}

.heroTitle {
  font-size: 4rem;
  font-family: var(--secondary-font-three);
  line-height: 4.3rem;
  /* letter-spacing: 0.125rem; */
}
.heroTitle span {
  color: var(--tertiary-color);
}

.heroImgDiv {
  flex: 1;
  /* background-color: aquamarine; */
}
.heroBlob {
  /* height: 23.75rem; */
  width: 85%;
}
.jediProducts {
  width: 100%;
}
.heroNextBtn {
  border: 0.1875rem var(--secondary-color) solid;
  align-self: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.arrowNext {
  transition: ease-in-out 0.3s;
  animation: blink 5s infinite;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/* ---------------------Enter glimpse section-------------------------------- */

#glimpse {
  /* background-color: var(--color-three); */
  background: linear-gradient(
    -60deg,
    var(--secondary-color) 0%,
    var(--secondary-color) 50%,
    var(--color-three) 50%,
    var(--color-three) 100%
  );
}
.glimpseContainer {
  padding: 2rem 0;
  gap: 2.5rem;
}
.glimpseBox {
  width: 100%;
  justify-content: space-between;
  text-align: justify;
}
.cardHeadContainer {
  gap: 0.625rem;
}
.glimpseCard {
  width: 18.75rem;
  gap: 1rem;
  color: var(--primary-color);
}
.cardicon {
  height: 3rem;
}
