#homeHeroSection {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
}
.heroSection {
  /* height: 300px; */
  /* background-color: burlywood; */
  margin: 4rem 0 0.625rem 0;
}
.heroCopy {
  flex: 1.5;
  letter-spacing: 0.125rem;
  gap: 2rem;
  color: var(--secondary-color);
}

.heroTitle {
  font-size: 4rem;
  font-family: var(--secondary-font-three);
  line-height: 4.3rem;
  /* letter-spacing: 0.125rem; */
}
.heroTitle span {
  color: var(--tertiary-color);
}

.heroImgDiv {
  flex: 1;
  /* background-color: aquamarine; */
}
.heroBlob {
  /* height: 23.75rem; */
  width: 85%;
}
.jediProducts {
  width: 100%;
}
.heroNextBtn {
  border: 0.1875rem var(--secondary-color) solid;
  align-self: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
/* background: linear-gradient(-60deg, red 0%, red 60%, blue 60%, blue 100%); */
