#ourStorySection h3,
#aboutSection h3 {
  font-size: 1.5rem;
  color: var(--color-five);
}
#ourStorySection {
  background-color: var(--primary-color);
}
.the-path {
  top: 4rem;
  left: 3rem;
  width: 14.375rem;
  opacity: 0.6;
}
.multi-rings {
  top: 0;
  right: 0;
  width: 14.375rem;
  opacity: 0.6;
}
.ourStoryContainer {
  padding: 3rem 0 0 0;
  gap: 1rem;
  /* background-color: aquamarine; */
  z-index: -1;
}
.storyHeader,
.whatTitle {
  font-family: var(--secondary-font-two);
  color: var(--secondary-color);
  font-size: 2.25rem;
  padding: 0.625rem;
  position: relative;
  z-index: 3;
}
.storyHeader::before,
.whatTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 22.65625rem; */
  width: 100%;
  height: 100%;
  background-image: url("../resources/imgs/header-back.svg");
  background-size: cover; /* Adjust the sizing of the background */
  background-position: center; /* Adjust the position of the background */
  z-index: -1; /* Place the background behind the text */
}
.storyImageContainer {
  margin-top: 2rem;
}
.storyContainer {
  flex: 1;
  gap: 1rem;
  /* background-color: aquamarine; */
}
.story {
  color: var(--secondary-color);
  /* background-color: bisque; */
  /* max-width: 80%; */
  width: 80%;
  text-align: center;
  font-size: 1.125rem;
  gap: 0.625rem;
}
.storyImageDiv {
  flex: 1;
}
.storyImage {
  width: 12.625rem;
  margin-top: -2rem;
}
.curve {
  /* align-self: flex-end; */
  margin-bottom: -0.3125rem;
  width: 100%;
}
#aboutSection {
  background-color: var(--color-two);
}
.aboutContainer {
  padding-bottom: 3rem;
  /* background-color: aquamarine; */
  gap: 1.5rem;
}

.contactBtn img,
.whatBtn img {
  width: 1.5rem;
}

.missionVisionDiv {
  color: var(--secondary-color);
  gap: 1rem;
  margin: 2rem 0;
}
.missionVisionDiv div {
  padding: 2rem;
  border-radius: 0.625rem;
  color: var(--color-two);
  background-color: var(--color-five);
  text-align: center;
  gap: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
/* .mvTitle {
  font-weight: 600;
} */
.missionDiv {
  /* background-color: bisque; */
  flex: 1;
  order: 2;
}
.visionDiv {
  order: 1;
  /* background-color: cadetblue; */
  flex: 1;
}
.values {
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin: 1.5rem;
}
.item {
  background-color: var(--color-four);
  border-radius: 0.625rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1.125rem;
  color: var(--secondary-color);
  width: 21.875rem;
  gap: 0.625rem;
  text-align: center;
}

.item-2 {
  background-color: var(--color-seven);
}
.item h2 {
  font-size: 1.125rem;
  color: var(--color-five);
}
#whatSection {
  background-color: var(--color-four);
}
.whatContainer {
  padding: 3rem;
  gap: 3rem;
}
.whatContainerDiv {
  justify-content: space-between;
}
.whatImagesDiv {
  flex: 1;
}
.whatImage {
  width: 200px;
}
.whatImageZigzag {
  width: 80%;
}
.whatStoryDiv {
  flex: 1;
  padding: 0 1rem;
  font-size: 1.25rem;
  gap: 0.635rem;
  color: var(--secondary-color);
}
.what-story span {
  /* color: var(--color-five); */
  color: var(--tertiary-color);
  font-weight: 700;
}
.whatTitle::before {
  /* width: 100%;
  height: 100%; */
  background-image: url("../resources/imgs/header-back-what.svg");
}
