#checkout-section {
  /* background-color: var(--primary-color); */
  background: linear-gradient(90deg, #e6e7fb 32.71%, #bbbdfb 100%);
}
.checkout-container {
  padding: 3rem 0;
  gap: 1rem;
}
.checkout-header {
  padding: 0.625rem 2rem;
}
.formSub {
  color: var(--secondary-color);
}
.checkout-form {
  /* border-radius: 1rem; */
  /* border: 0.1875rem var(--color-five) solid; */
  /* padding: 1.5rem 1rem; */
  width: 80%;
  gap: 0.875rem;
}

.label-input {
  width: 80%;
}
.label-input label,
.label-textarea label {
  font-weight: 600;
  color: var(--color-five);
}

.label-input input {
  font-size: 1rem;
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  border: 0.125rem var(--color-five) solid;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}

.label-input input:focus,
.label-input input:hover,
.label-textarea textarea:focus,
.label-textarea textarea:hover {
  outline: none;
  border-color: var(--tertiary-color);
}
.for-compulsory::after {
  content: "*";
  margin-left: 0.1875rem;
  color: var(--color-eight);
}
.label-textarea {
  width: 80%;
}
.label-textarea textarea {
  width: 100%;
  border: 0.125rem var(--color-five) solid;
  border-radius: 0.875rem;
  padding: 0.875rem 0.125rem;
  margin-top: 0.5rem;
  color: var(--secondary-color);
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}
.amount-due {
  font-size: 1.5rem;
  color: var(--secondary-color);
  padding: 1rem 0;
}
.amount-due span {
  color: var(--color-five);
}
.checkout-btn {
  margin-top: 2rem;
}
